@model SampleMvcApp.Models.Employee

<div>
    <h1>@Model.Name</h1>
    <hr/>
    <div style="border:2px solid red; background-color:lightgray; padding:5px">
        <h2>Details of the Employee</h2>
        <p>Employee Name: @Model.Name</p>
        <p>Employee Salary: @Model.Salary</p>
    </div>
</div>
